services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=template
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: pg_isready --timeout 5 --username postgres
      interval: 5s
      timeout: 5s
      start_period: 5s
      start_interval: 100ms
      retries: 5

  # mongo:
  #   image: mongo
  #   restart: always
  #   command: mongod --setParameter notablescan=1
  #   ports:
  #     - 27017:27017

  redis:
    image: redis:8-alpine
    restart: unless-stopped
    ports:
      - 6379:6379

  # asynq:
  #   image: hibiken/asynqmon
  #   command:
  #     - --redis-addr=redis:6379
  #     - --enable-metrics-exporter
  #   ports:
  #     - 8080:8080

  casdoor:
    image: casbin/casdoor:2.324.0
    command: --createDatabase=true
    ports:
      - 8000:8000
    volumes:
      - ./etc/casdoor.conf:/conf/app.conf:ro
      - ./etc/casdoor_init_data.json:/init_data.json:ro
    depends_on:
      postgres:
        condition: service_healthy
